@use '../../../../style/tools/breakpoints.scss' as *;

.loader {
    background: var(--background-opacity);
    height: calc(100vh);
    align-items: center;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 3000;
    left: 0;
    top: 0;

    div {
        img {
            width: auto;
            height: auto;
        }
    }

    &-ico {
        position: absolute;
        top: 50%;
        left: 49%;
        display: flex;
        margin: auto;

        @include for-mobile {
            left: 46%;
        }

        @include for-tablet {
            left: 48%;
        }
    }
}