:root {
  --action-disabled-base: #0000001a;
  --action-disabled-base-inverse: #ffffff1a;
  --action-disabled-emphasis-base: #00000066;
  --action-disabled-emphasis-base-inverse: #ffffff66;
  --action-main-emphasis-high: #fffffff5;
  --action-main-emphasis-high-inverse: #fffffff5;
  --action-main-emphasis-low: #ffffffbd;
  --action-main-emphasis-low-inverse: #ffffffbd;
  --action-main-emphasis-medium: #ffffffcc;
  --action-main-emphasis-medium-inverse: #ffffffcc;
  --action-main-enabled: #195ab4ff;
  --action-main-enabled-inverse: #195ab4ff;
  --action-main-focus: #195ab4ff;
  --action-main-focus-inverse: #195ab4ff;
  --action-main-hover: #3e75c0ff;
  --action-main-hover-inverse: #3e75c0ff;
  --action-main-pressed: #134489ff;
  --action-main-pressed-inverse: #134489ff;
  --action-main-selected: #195ab4ff;
  --action-main-selected-inverse: #195ab4ff;
  --action-neutral-emphasis-high: #000000f5;
  --action-neutral-emphasis-high-inverse: #fffffff5;
  --action-neutral-emphasis-low: #000000a3;
  --action-neutral-emphasis-low-inverse: #ffffffbd;
  --action-neutral-emphasis-medium: #000000cc;
  --action-neutral-emphasis-medium-inverse: #ffffffcc;
  --action-neutral-enabled: #ffffffff;
  --action-neutral-enabled-inverse: #1f2023ff;
  --action-neutral-focus: #ffffffff;
  --action-neutral-focus-inverse: #1f2023ff;
  --action-neutral-hover: #e8e8e8ff;
  --action-neutral-hover-inverse: #303030ff;
  --action-neutral-pressed: #c2c2c2ff;
  --action-neutral-pressed-inverse: #292929ff;
  --action-neutral-selected: #ffffffff;
  --action-neutral-selected-inverse: #404040ff;
  --action-secondary-emphasis-high: #fffffff5;
  --action-secondary-emphasis-high-inverse: #000000f5;
  --action-secondary-emphasis-low: #ffffffbd;
  --action-secondary-emphasis-low-inverse: #000000a3;
  --action-secondary-emphasis-medium: #ffffffcc;
  --action-secondary-emphasis-medium-inverse: #000000cc;
  --action-secondary-enabled: #10408dff;
  --action-secondary-enabled-inverse: #87baffff;
  --action-secondary-focus: #10408dff;
  --action-secondary-focus-inverse: #87baffff;
  --action-secondary-hover: #234f96ff;
  --action-secondary-hover-inverse: #90bfffff;
  --action-secondary-pressed: #0c316bff;
  --action-secondary-pressed-inverse: #719cd6ff;
  --action-secondary-selected: #10408dff;
  --action-secondary-selected-inverse: #87baffff;

  --background-base: #f5f5f6ff;
  --background-base-inverse: #101010ff;

  --neutral-base: #ffffffff;
  --neutral-base-inverse: #1f2023ff;
  --neutral-extended-10: #ffffffff;
  --neutral-extended-100: #1b1e20ff;
  --neutral-extended-20: #f5f6f9ff;
  --neutral-extended-30: #d7dbdfff;
  --neutral-extended-40: #b8bec4ff;
  --neutral-extended-50: #959ca2ff;
  --neutral-extended-60: #61686eff;
  --neutral-extended-70: #464c51ff;
  --neutral-extended-80: #34383cff;
  --neutral-extended-90: #272a2eff;

  --outline-base-focus: #195ab4ff;
  --outline-base-focus-inverse: #195ab4ff;

  --primary-base: #195ab4ff;
  --primary-base-inverse: #195ab4ff;
  --primary-extended-10: #d2e5ffff;
  --primary-extended-100: #05132aff;
  --primary-extended-20: #b1d2ffff;
  --primary-extended-30: #87baffff;
  --primary-extended-40: #6baaffff;
  --primary-extended-50: #549cffff;
  --primary-extended-60: #307ae0ff;
  --primary-extended-70: #195ab4ff;
  --primary-extended-80: #10408dff;
  --primary-extended-90: #0b2859ff;

  --secondary-base: #10408dff;
  --secondary-base-inverse: #87baffff;

  --status-error-base: #eb3d47ff;
  --status-error-base-inverse: #f76970ff;
  --status-error-base-surface: #ffdbddff;
  --status-error-base-surface-inverse: #380e10ff;
  --status-informative-base: #1f7dffff;
  --status-informative-base-inverse: #4795ffff;
  --status-informative-base-surface: #d2e5ffff;
  --status-informative-base-surface-inverse: #071836ff;
  --status-success-base: #159e5cff;
  --status-success-base-inverse: #62c395ff;
  --status-success-base-surface: #daece5ff;
  --status-success-base-surface-inverse: #062a1aff;
  --status-warning-base: #f05800ff;
  --status-warning-base-inverse: #ff8752ff;
  --status-warning-base-surface: #ffe7ccff;
  --status-warning-base-surface-inverse: #361b0fff;

  --support-aqua-10: #d8f0f5ff;
  --support-aqua-100: #22515aff;
  --support-aqua-20: #bee6eeff;
  --support-aqua-30: #87d0dfff;
  --support-aqua-40: #5abed3ff;
  --support-aqua-50: #45b6cdff;
  --support-aqua-60: #329fb5ff;
  --support-aqua-70: #328495ff;
  --support-aqua-80: #2f7482ff;
  --support-aqua-90: #29636eff;
  --support-blue-10: #d2e5ffff;
  --support-blue-100: #0b2859ff;
  --support-blue-20: #b1d2ffff;
  --support-blue-30: #87baffff;
  --support-blue-40: #6baaffff;
  --support-blue-50: #549cffff;
  --support-blue-60: #307ae0ff;
  --support-blue-70: #195ab4ff;
  --support-blue-80: #174e9fff;
  --support-blue-90: #123570ff;
  --support-brown-10: #ede7e4ff;
  --support-brown-100: #3a2014ff;
  --support-brown-20: #e4d9d3ff;
  --support-brown-30: #d0b8adff;
  --support-brown-40: #be9989ff;
  --support-brown-50: #aa7a64ff;
  --support-brown-60: #9e664dff;
  --support-brown-70: #8d5a43ff;
  --support-brown-80: #714733ff;
  --support-brown-90: #533122ff;
  --support-green-10: #e7f3eeff;
  --support-green-100: #0d5734ff;
  --support-green-20: #d0ebdfff;
  --support-green-30: #9dd8bcff;
  --support-green-40: #62c395ff;
  --support-green-50: #2db071ff;
  --support-green-60: #149a5aff;
  --support-green-70: #128850ff;
  --support-green-80: #107444ff;
  --support-green-90: #0e613aff;
  --support-grey-10: #f2f2f2ff;
  --support-grey-100: #373737ff;
  --support-grey-20: #e5e5e5ff;
  --support-grey-30: #cacacaff;
  --support-grey-40: #b2b2b2ff;
  --support-grey-50: #9a9a9aff;
  --support-grey-60: #909090ff;
  --support-grey-70: #808080ff;
  --support-grey-80: #626262ff;
  --support-grey-90: #484848ff;
  --support-lime-10: #eefbe0ff;
  --support-lime-100: #395913ff;
  --support-lime-20: #daefc3ff;
  --support-lime-30: #bcdc98ff;
  --support-lime-40: #9bc868ff;
  --support-lime-50: #7eb63eff;
  --support-lime-60: #6baa23ff;
  --support-lime-70: #629c20ff;
  --support-lime-80: #53821bff;
  --support-lime-90: #416616ff;
  --support-orange-10: #ffd8c7ff;
  --support-orange-100: #5d2f1aff;
  --support-orange-20: #ffc7aeff;
  --support-orange-30: #ffab86ff;
  --support-orange-40: #ff905eff;
  --support-orange-50: #ff7e44ff;
  --support-orange-60: #ef7640ff;
  --support-orange-70: #c46135ff;
  --support-orange-80: #9f4f2bff;
  --support-orange-90: #783c21ff;
  --support-pink-10: #f1e5edff;
  --support-pink-100: #49213cff;
  --support-pink-20: #ebd4e3ff;
  --support-pink-30: #deabcdff;
  --support-pink-40: #d289baff;
  --support-pink-50: #c768a7ff;
  --support-pink-60: #c0549cff;
  --support-pink-70: #a94a89ff;
  --support-pink-80: #853b6cff;
  --support-pink-90: #5e2a4dff;
  --support-purple-10: #d2d7f0ff;
  --support-purple-100: #091051ff;
  --support-purple-20: #c0c6ebff;
  --support-purple-30: #9ba3e0ff;
  --support-purple-40: #7b84d6ff;
  --support-purple-50: #5b66cdff;
  --support-purple-60: #4854c7ff;
  --support-purple-70: #3b46afff;
  --support-purple-80: #232d84ff;
  --support-purple-90: #111962ff;
  --support-red-10: #ffe5e6ff;
  --support-red-100: #60181cff;
  --support-red-20: #fccaccff;
  --support-red-30: #f79ea3ff;
  --support-red-40: #f2757cff;
  --support-red-50: #ed515aff;
  --support-red-60: #eb3e48ff;
  --support-red-70: #ce363fff;
  --support-red-80: #a92c33ff;
  --support-red-90: #7a1f24ff;
  --support-violet-10: #e6e2f0ff;
  --support-violet-100: #322652ff;
  --support-violet-20: #d6cdeaff;
  --support-violet-30: #bcabe0ff;
  --support-violet-40: #9b80d4ff;
  --support-violet-50: #8562cbff;
  --support-violet-60: #754cc5ff;
  --support-violet-70: #6a46b2ff;
  --support-violet-80: #563b90ff;
  --support-violet-90: #3d2d66ff;
  --support-yellow-10: #fff5daff;
  --support-yellow-100: #674d1bff;
  --support-yellow-20: #ffeab5ff;
  --support-yellow-30: #ffdf8cff;
  --support-yellow-40: #ffd15bff;
  --support-yellow-50: #ffca43ff;
  --support-yellow-60: #e8b73dff;
  --support-yellow-70: #c79c34ff;
  --support-yellow-80: #a37e2bff;
  --support-yellow-90: #795c20ff;

  --surface-brand-01: #05132aff;
  --surface-brand-02: #0b2859ff;
  --surface-brand-03: #10408dff;
  --surface-brand-04: #195ab4ff;
  --surface-brand-05: #6baaffff;
  --surface-brand-on-brand-01-action-enabled: #fffffff5;
  --surface-brand-on-brand-01-action-hover: #ffffffbd;
  --surface-brand-on-brand-01-action-pressed: #ffffffcc;
  --surface-brand-on-brand-01-disabled: #ffffff66;
  --surface-brand-on-brand-01-emphasis-high: #fffffff5;
  --surface-brand-on-brand-01-emphasis-low: #ffffffbd;
  --surface-brand-on-brand-01-emphasis-medium: #ffffffcc;
  --surface-brand-on-brand-01-outline: #ffffff29;
  --surface-brand-on-brand-02-action-enabled: #fffffff5;
  --surface-brand-on-brand-02-action-hover: #ffffffbd;
  --surface-brand-on-brand-02-action-pressed: #ffffffcc;
  --surface-brand-on-brand-02-disabled: #ffffff66;
  --surface-brand-on-brand-02-emphasis-high: #fffffff5;
  --surface-brand-on-brand-02-emphasis-low: #ffffffbd;
  --surface-brand-on-brand-02-emphasis-medium: #ffffffcc;
  --surface-brand-on-brand-02-outline: #ffffff29;
  --surface-brand-on-brand-03-action-enabled: #fffffff5;
  --surface-brand-on-brand-03-action-hover: #ffffffbd;
  --surface-brand-on-brand-03-action-pressed: #ffffffcc;
  --surface-brand-on-brand-03-disabled: #ffffff66;
  --surface-brand-on-brand-03-emphasis-high: #fffffff5;
  --surface-brand-on-brand-03-emphasis-low: #ffffffbd;
  --surface-brand-on-brand-03-emphasis-medium: #ffffffcc;
  --surface-brand-on-brand-03-outline: #ffffff29;
  --surface-brand-on-brand-04-action-enabled: #fffffff5;
  --surface-brand-on-brand-04-action-hover: #ffffffbd;
  --surface-brand-on-brand-04-action-pressed: #ffffffcc;
  --surface-brand-on-brand-04-disabled: #ffffff66;
  --surface-brand-on-brand-04-emphasis-high: #fffffff5;
  --surface-brand-on-brand-04-emphasis-low: #ffffffbd;
  --surface-brand-on-brand-04-emphasis-medium: #ffffffcc;
  --surface-brand-on-brand-04-outline: #ffffff29;
  --surface-brand-on-brand-05-action-enabled: #000000f5;
  --surface-brand-on-brand-05-action-hover: #000000a3;
  --surface-brand-on-brand-05-action-pressed: #000000cc;
  --surface-brand-on-brand-05-disabled: #00000066;
  --surface-brand-on-brand-05-emphasis-high: #000000f5;
  --surface-brand-on-brand-05-emphasis-low: #000000a3;
  --surface-brand-on-brand-05-emphasis-medium: #000000cc;
  --surface-brand-on-brand-05-outline: #00000029;

  /* Old Tokens */
  --main-state-enabled: #195ab4ff;
  --main-state-hover: #3e75c0ff;
  --main-state-focus: #195ab4ff;
  --main-state-pressed: #134489ff;
  --main-state-selected: #195ab4ff;
  --main-state-disabled: #ebebebff;
  --main-state-enabled-inverse: #b1d2ffff;
  --main-state-hover-inverse: #bed9ffff;
  --main-state-focus-inverse: #b1d2ffff;
  --main-state-pressed-inverse: #87a0c2ff;
  --main-state-selected-inverse: #b1d2ffff;
  --main-state-disabled-inverse: #1e3966ff;
  --secondary-state-enabled: #0fa5adff;
  --secondary-state-hover: #36b3baff;
  --secondary-state-focus: #0fa5adff;
  --secondary-state-pressed: #0b7e84ff;
  --secondary-state-selected: #0fa5adff;
  --secondary-state-disabled: #ebebebff;
  --secondary-state-enabled-inverse: #9ef0f4ff;
  --secondary-state-hover-inverse: #8cedf2ff;
  --secondary-state-focus-inverse: #8cedf2ff;
  --secondary-state-pressed-inverse: #6bb4b8ff;
  --secondary-state-selected-inverse: #8cedf2ff;
  --secondary-state-disabled-inverse: #1e3966ff;
  --neutral-state-enabled: #ffffffff;
  --neutral-state-hover: #d6d6d6ff;
  --neutral-state-focus: #ffffffff;
  --neutral-state-pressed: #c2c2c2ff;
  --neutral-state-selected: #ffffffff;
  --neutral-state-disabled: #ebebebff;
  --neutral-state-enabled-inverse: #071938ff;
  --neutral-state-hover-inverse: #2f3e58ff;
  --neutral-state-focus-inverse: #071938ff;
  --neutral-state-pressed-inverse: #05132bff;
  --neutral-state-selected-inverse: #071938ff;
  --neutral-state-disabled-inverse: #1a2b48ff;
  --emphasis-base-high: #000000ff;
  --emphasis-base-medium: #000000b3;
  --emphasis-base-low: #000000a3;
  --emphasis-base-disabled: #0000004d;
  --emphasis-base-high-inverse: #ffffffff;
  --emphasis-base-medium-inverse: #ffffffb3;
  --emphasis-base-low-inverse: #ffffffbd;
  --emphasis-base-disabled-inverse: #ffffff4d;
  --success: #159e5cff;
  --success-surface: #daece5ff;
  --success-inverse: #62c395ff;
  --success-surface-inverse: #106a40ff;
  --warning: #f05800ff;
  --warning-surface: #ffe7ccff;
  --warning-inverse: #ff8752ff;
  --warning-surface-inverse: #884426ff;
  --error: #eb3d47ff;
  --error-surface: #ffdbddff;
  --error-inverse: #f76970ff;
  --error-surface-inverse: #8b2328ff;
  --informative: #1f7dffff;
  --informative-surface: #d2e5ffff;
  --informative-inverse: #4795ffff;
  --informative-surface-inverse: #113d88ff;

  --fixed-white: #ffffffff;
  --fixed-black: #000000ff;

  --specialcolors-fixed-black: #000000ff;
  --specialcolors-fixed-white: #ffffffff;

  /* old Tokens V5 */
  --surface-brand-01: #05132aff;
  --surface-brand-02: #0b2859ff;
  --surface-brand-03: #10408dff;
  --surface-brand-04: #195ab4ff;
  --surface-brand-05: #6baaffff;

  --on-color-emphasis-disabled: #0000004d;
  --on-color-emphasis-disabled-inverse: #ffffff4d;
  --on-color-emphasis-high: #000000f5;
  --on-color-emphasis-high-inverse: #fffffff5;
  --on-color-emphasis-low: #000000a3;
  --on-color-emphasis-low-inverse: #ffffffbd;
  --on-color-emphasis-medium: #000000cc;
  --on-color-emphasis-medium-inverse: #ffffffcc;

  --outline-base: #00000029;
  --outline-base-inverse: #ffffff29;

  --on-color-indicator-highlight-base: #174e9fff;
  --on-color-indicator-highlight-base-inverse: #b1d2ffff;
  --on-color-indicator-highlight-surface: #d2e5ffff;
  --on-color-indicator-highlight-surface-inverse: #0b2859ff;
  --on-color-indicator-negative-base: #ce363fff;
  --on-color-indicator-negative-base-inverse: #f2757cff;
  --on-color-indicator-negative-surface: #fccaccff;
  --on-color-indicator-negative-surface-inverse: #7a1f24ff;
  --on-color-indicator-positive-base: #128850ff;
  --on-color-indicator-positive-base-inverse: #62c395ff;
  --on-color-indicator-positive-surface: #d0ebdfff;
  --on-color-indicator-positive-surface-inverse: #0e613aff;
}