:root {
  --surface-brand-01: #05132a;
  --surface-brand-02: #0b2859;
  --surface-brand-03: #10408d;
  --surface-brand-04: #195ab4;
  --surface-brand-05: #6baaff;

  --background-base: #f5f5f6;
  --background-base-inverse: #101010;
  --background-footer: #071833;
  --background-opacity: #314b7080;

  --status-error-base: #eb3d47;
  --status-informative-base: #1f7dff;
  --status-success-base: #159e5c;
  --status-warning-base: #f05800;

  --fixed-white: #ffffff;
  --fixed-black: #000000;

  --outline-base: #00000029;
  --outline-base-inverse: #ffffff29;

  --boxshadow-dp4: 0px 8px 10px 2px rgb(179, 179, 179, 0.4);
}